* {
    margin: 0;
    box-sizing: border-box;
}

.main {
    margin: 0 auto;
    width: 80%;
}

.button {
    margin-top: 40px;
    width: 100%;
    height: auto;
   border:2px solid black;

    display: flex;
    
}

.box {
    padding:20px 20px 20px 20px;
    text-align: center;
    margin: auto 0 ;
   

}

.button button {
    margin: 2px 0px 0px 2px;
    background-color: red;
    border: none;
    color: white;
    height: 35px;
    border-radius: 5px;
    
}
.button button:hover{
    background-color: antiquewhite;
    color: red;
}